
h1 {
  font-family: Courier, monospace;
  border-right: 3px solid;
  width: 26ch; /* Number of chars */
  margin: 20px;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: typing 6s steps(34, end),
    blink 0.4s step-end infinite alternate;
}
.text-area-mk {
  width: 50px;
}
.column {
  display: flex
}

@-webkit-keyframes typing {
  0% {
    width: 0;
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: transparent;
  }
}
